@tailwind base;
@tailwind components;
@tailwind utilities;


.icon {
    width: 2.5rem;
    height: 2.5rem;
    /* color: #f54900; */
}

@media screen and (max-width: 768px) {
    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}
